version: '3'

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "80:80"
    environment:
      - VITE_API_URL=http://localhost:8000
      - VITE_AI_SERVICE_URL=http://localhost:8080
    depends_on:
      - backend-api
    
  backend-api:
    build:
      context: ./backend-api
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql://postgres:password@db-service:5432/raven_db
      - ML_SERVICE_URL=http://ai-inference-service:8080
    depends_on:
      - db-service
      - ai-inference-service
    
  ai-inference-service:
    build:
      context: ./ai-inference-service
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    volumes:
      - ./ai-inference-service/model:/app/model

  db-service:
    image: postgis/postgis:17-3.5
    environment:
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=raven_db
    volumes:
      - ./postgres/data:/var/lib/postgresql/data
      - ./postgres/init-extensions.sql:/docker-entrypoint-initdb.d/init-extensions.sql
      - ./postgres/exports:/docker-entrypoint-initdb.d
